<footer>
    <address>
        <p>Telefon: <a href="tel:+40712345678">0712 345 678</a></p>
        <p>Adresă sediu central:</p>
        <div class="harta-locatie" style="margin-top: 20px; margin-bottom: 20px;">
            <p><strong> Vino să ne vizitezi sediul central:</strong> <i>Bulevardul Iuliu Maniu 15, București</i></p>
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.9549797243835!2d26.03821987666121!3d44.43408570157645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b201f609995a6f%3A0x8a7b024778b7d337!2sPolitehnica%20Business%20Tower!5e0!3m2!1sen!2sro!4v1772649127542!5m2!1sen!2sro" 
                width="600" height="450" style="border:0; border-radius: 8px;" 
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        <p>E-mail: <a href="mailto:contact@bookverse.ro">contact@bookverse.ro</a></p>
    </address>
    
    <a href="#" id="link-top" title="Întoarce-te rapid la începutul paginii!">
        <span class="sageata">🠹</span>
    </a>
    
    <p><small>Copyright © 2026 Moraru Radu Andrei.<br>
        Pagină creată pe data de: <time datetime="2026-02-28">28 Februarie 2026</time>.
    </small></p>
    
    <p><small>IP-ul tău este: <strong><%- locals.ip %></strong></small></p>
    
    <small><p id="banner-scolar">Acesta este un proiect școlar!</p></small>
</footer>