<div id="watermark-print">
    Moraru<br>Radu Andrei
</div>

<header>
    <hgroup>
        <h1>Bookverse</h1>
        <p>Descoperă cele mai noi titluri <i>bestseller</i> și bucură-te de sistemul nostru avantajos de <i>trade-in</i> pentru cărțile citite.</p>
    </hgroup>

    <nav>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu" class="btn-burger">
            <span class="bara"></span>
            <span class="bara"></span>
            <span class="bara"></span>
        </label>
        
        <ul class="menu">
            <li>
                <a href="/"><i class="fa-solid fa-bookmark"></i> <span>Acasă</span></a>
            </li>
            <li>
                <a href="/despre"><i class="fa-solid fa-circle-info"></i> <span>Despre noi</span></a>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="fa-solid fa-book"></i> <span>Rafturi</span></a>
                <ul class="submenu">
                    <li><a href="/produse">Toate Titlurile</a></li> 
                    <li><a href="/pachete">Pachete Promo</a></li> 
                    <li><a href="/reviste">Reviste Științifice</a></li> 
                </ul>
            </li>
            <li class="has-submenu">
                <a href="/trade-in"><i class="fa-solid fa-rotate"></i> <span>Trade-In</span></a>
                <ul class="submenu">
                    <li><a href="/trade-in#explicatie">Cum funcționează</a></li> 
                    <li><a href="/trade-in#formular">Evaluare Carte</a></li> 
                    <li><a href="/trade-in#reguli">Reguli Acceptare</a></li>
                </ul>
            </li>
            <li>
                <a href="/cos"><i class="fa-solid fa-cart-shopping"></i> <span>Coșul meu</span></a> 
            </li>
        </ul>
    </nav>
</header>